<div>
  <h1>Nuevo Usuario</h1>

  <form class="mt-5" [formGroup]="form" (ngSubmit)="update()" autocomplete="off" *ngIf="form">

    <mat-form-field class="mb-2 w-100" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput  type="text" placeholder="First Name"  formControlName="firstName">
      <mat-error>
        <ng-container  *ngIf="form.controls['firstName'].hasError('required')">
          El nombre es obligatorio
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-2 w-100" appearance="outline">
      <mat-label >Last Name</mat-label>
      <input matInput type="text" placeholder="Last Name" formControlName="lastName">
     <mat-error>
      <ng-container  *ngIf="form.controls['firstName'].hasError('required')">
        El apellido es obligatorio
      </ng-container>
    </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-2 w-100" appearance="outline">
      <mat-label for="precio">Email</mat-label>
      <input matInput id="precio" type="email"  placeholder="Email" formControlName="email">
      <mat-error>
      <ng-container  *ngIf="controlHasError('email','pattern')">
        El formato del email no es válido
      </ng-container>
    </mat-error>
    </mat-form-field>

    <mat-form-field class="mb-2 w-100" appearance="outline">
      <mat-label >Password</mat-label>
      <input matInput type="password" placeholder="Password"  formControlName="password">
      <mat-error>
        <ng-container  *ngIf="controlHasError('password','required')">
          El password es obligatorio
        </ng-container>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="mb-2 w-50">
      <mat-label>Seleccionar rol</mat-label>
      <mat-select formControlName="role">
        <mat-option value="ADMIN">Admin</mat-option>
        <mat-option value="USER">User</mat-option>
      </mat-select>

      <mat-hint align="end"></mat-hint>
    </mat-form-field>

    <div class="text-end">
      <button mat-button routerLink="/admin/users">Cancelar</button>
      <button mat-raised-button color="primary">Editar Usuario</button>
    </div>
  </form>
</div>
