<div class="container">
  <h1>Editar Usuario</h1>
  <div class="mt-5 alert alert-danger" *ngIf="errors">
    Han sucedido los siguientes errores:
   <ul>
    <li *ngFor="let error of errors">{{error}}</li>
   </ul>
  </div>

  <form class="mt-5" [formGroup]="form" (ngSubmit)="update()" *ngIf="form">
    <div class="mb-2">
      <label for="title">First Name</label>
      <input id="title" type="text" placeholder="First Name" class="form-control" formControlName="firstName">
      <div class="invalid-feedback">
        <ng-container  *ngIf="form.controls['firstName'].hasError('required')">
          El nombre es obligatorio
        </ng-container>
      </div>
    </div>

    <div class="mb-2">
      <label for="slug">Last Name</label>
      <input id="slug" type="text" placeholder="Last Name" class="form-control" formControlName="lastName">
      <div class="invalid-feedback">
        <ng-container  *ngIf="controlHasError('lastName','required')">
          El apellido es requerido
        </ng-container>
      </div>
    </div>

    <div class="mb-2">
      <label for="precio">Email</label>
      <input id="precio" type="email"  placeholder="Email" class="form-control" formControlName="email">
      <div class="invalid-feedback">
        <ng-container  *ngIf="controlHasError('email','pattern')">
          El formato del email no es válido
        </ng-container>
      </div>
    </div>

    <div class="mb-2">
      <label for="password">Password</label>
      <input id="precio" type="password" placeholder="Password" class="form-control" formControlName="password">
      <div class="invalid-feedback"></div>
    </div>
    <!--
    <div class="mb-2">
      <label for="precio">Rol</label>
      <input id="precio" type="text" placeholder="Role" class="form-control" formControlName="role">
      <div class="invalid-feedback"></div>
    </div>
    -->
    <div class="mb-2">
      <label for="role">Rol:</label>
      <select class="form-select" aria-label="Default select example" formControlName="role">
        <option value="ADMIN" selected>Admin</option>
        <option value="USER">User</option>
      </select>
    </div>

    <div class="text-end">
      <button class="btn btn-light" routerLink="/users">Cancelar</button>
      <button class="btn btn-primary ms-2">Actualizar Usuario</button>
    </div>
  </form>
</div>
